
<div class="row">

  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    <div class="col-xs-8 col-xs-offset-2 cp-pt-5">
      <hr class="xs-mb-0 xs-mt-0">
    </div>
    <div class="clearfix"></div>
    <div class="text-center">
      <h3>Step 2 &gt; Refer Family and Friends</h3>
    </div>
    <!-- <hr> -->
    
    <div class="xs-p-5 cp-promo-headline-subtext col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <ul class="cp-pl-10">
        <li>Refer 5 of your friends and family members to joyn.</li>
        <li>They will receive a friendly email invitation to joyn Carepoynt and earn rewards.</li>
      </ul>
    </div>
    <div class="clearfix"></div>
    <!-- <br> -->
    <form class="onboard-form">
      <!-- <div class="form-group">
        <input type="text" name="referral1" ng-model="referral.one" class="form-control" placeholder="Email" typeahead="email for email in myemails | filter:$viewValue" typeahead-wait-ms="300" typeahead-min-length="1" autocomplete="off">
      </div>
      <div class="form-group">
        <input type="text" name="referral2" ng-model="referral.two" class="form-control" placeholder="Email" typeahead="email for email in myemails | filter:$viewValue" typeahead-wait-ms="300" typeahead-min-length="1" autocomplete="off">
      </div>
      <div class="form-group">
        <input type="text" name="referral3" ng-model="referral.three" class="form-control" placeholder="Email" typeahead="email for email in myemails | filter:$viewValue" typeahead-wait-ms="300" typeahead-min-length="1" autocomplete="off">
      </div>
      <div class="form-group">
        <input type="text" name="referral4" ng-model="referral.four" class="form-control" placeholder="Email" typeahead="email for email in myemails | filter:$viewValue" typeahead-wait-ms="300" typeahead-min-length="1" autocomplete="off">
      </div>
      <div class="form-group">
        <input type="text" name="referral5" ng-model="referral.five" class="form-control" placeholder="Email" typeahead="email for email in myemails | filter:$viewValue" typeahead-wait-ms="300" typeahead-min-length="1" autocomplete="off">
      </div> -->

      <div class="form-group">
        <input type="email" name="referral1" ng-model="referral.one" class="form-control" placeholder="Email" autocomplete="off">
      </div>
      <div class="form-group">
        <input type="email" name="referral2" ng-model="referral.two" class="form-control" placeholder="Email" autocomplete="off">
      </div>
      <div class="form-group">
        <input type="email" name="referral3" ng-model="referral.three" class="form-control" placeholder="Email" autocomplete="off">
      </div>
      <div class="form-group">
        <input type="email" name="referral4" ng-model="referral.four" class="form-control" placeholder="Email" autocomplete="off">
      </div>
      <div class="form-group">
        <input type="email" name="referral5" ng-model="referral.five" class="form-control" placeholder="Email" autocomplete="off">
      </div>
    </form>
  </div>
</div>

