<!-- Modal PopUp -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h6 class="modal-title" id="exampleModalLabel">Read First</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-grey-s">You are guaranteed to receive your Poynts within 48 hours after any purchase.</p>
                <div class="pure-checkbox">
                    <input class="checkbox" id="checkbox" type="checkbox" ng-model="$parent.preferenceCheckbox">
                    <span>Don't show again</span>
                </div>
            </div>
            <div class="modal-footer popup-gradient-blue btn-group" role="group">
                <!-- <button type="button" class="btn btn-secondary popup-btn model-btn-active" data-dismiss="modal">Cancel</button> -->
                <button type="button" class="btn btn-secondary popup-btn" ng-click="saveEarnPopupPreference()" data-dismiss="modal">Got it</button>
            </div>
        </div>
    </div>
</div>
<!-- End Of Modal PopUp -->