@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800');

html {
    height: 100%;
}
body {
    font-family:"Open Sans", sans-serif;
    font-size: 14px;
    font-weight:400;
    line-height: 1.42857;
    color: #263238;
	overflow-x:hidden;
}

ul li { list-style: none; }
p{margin:0px; padding:0px; }
ul{padding:0; margin:0}
@-ms-viewport { width: auto !important; }
a,
button {
    outline: 0 !important;
}


a:hover,
a:focus {
    text-decoration: none;
    cursor: pointer;
}
a, a:hover { color: #00B7FF; }
h1, h2, h3, h4, h5, h5 { color:#294F76; font-family: 'Montserrat', arial, sans-serif; font-weight: 300; margin: 0px; padding: 0px; }
button, input[type="button"], input[type="submit"]{ cursor:pointer; }
.max-wh-120{ width:120px; height:120px; }
.th-lg { height: 45px; }
.img-full-width { width: 100%; }
.form-section input[readonly], .form-section select[readonly], .form-section textarea[readonly] {
    background-color: #eee;
    color: #777;
    border-color: #ccc;
}
.my-auto {
    margin-top: auto!important;
    margin-bottom: auto!important;
}

/*************************Font size**************************/
.small, small {
    font-size: 11px;
}
.medium {
    font-size: 12px;
}
.fs-14 { font-size: 14px !important; }
.large {
    font-size: 16px !important;
}
.x-large {
    font-size: 20px;
}
.fs-26 { font-size: 26px !important; }
.fs-36 { font-size: 36px !important; }


/*************************Font size**************************/
.fw-7 { font-weight: 700 !important; }

/*************************Default Common Use**************************/
hr{ margin:0px; padding:0px; border-color:#cbd5dc; }
.d-ib { display: inline-block !important; }
.border-org { border-color:#e17036; }

/***************************Text Color*********************************/
.text-grey { color: #aaa !important; }
.text-w { color: #fff !important; }
.text-grey-s { color: #666 !important; }
.text-org { color: #e17036 !important; }

/***************************Background Color*********************************/
.bg-w { background-color: #fff !important; }
.bg-org { background-color: #e17036 !important; }

/***************************Common Default Class*********************************/
.border-line { border-bottom: 1px solid #e17036; }
.over-x { overflow-x:auto; }
.float-right { float: right; }
.v-middle { vertical-align: middle !important; }

.b-0 { border: 0 !important; }

.w-200 { width: 200px !important; }
.w-250{ width:250px !important; }

.h-60{ height:60px !important; }
.h-20{ height:20px !important; }

.mt-1{ margin-top:10px !important; }
.mt-2{ margin-top:20px !important; }
.mt-3{ margin-top:30px !important; }
.mt-4{ margin-top:40px !important; }

.mb-1{ margin-bottom:10px !important; }
.mb-2{ margin-bottom:20px !important; }
.mb-3{ margin-bottom:30px !important; }
.mb-4{ margin-bottom:40px !important; }


.my-1{ margin-top:10px !important; margin-bottom:10px !important; }
.my-2{ margin-top:20px !important; margin-bottom:20px !important; }
.my-3{ margin-top:30px !important; margin-bottom:30px !important; }
.my-4{ margin-top:40px !important; margin-bottom:40px !important; }


/***************************Header Class*********************************/
header {
    background-color: #eef3fa;
    width: 100%;
    display: block;
	position:fixed;
	left:0;
	top:77px;
	width:100%;
	z-index:5;
}
.logo img { width: 40px; }
#contentBox { margin-left: 0 !important; }
.container { width: 100% !important; }

/***************************Menu Section*********************************/



/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #675e57; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
	top: 137px;
	width:0px;
}


/* The navigation menu links */
.sidenav ul{ margin:0 15px; overflow: hidden; }
.sidenav ul li{ border-bottom:1px solid #858280; }
.sidenav a {
    padding: 8px 8px 8px 12px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #fc9727;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.gly-down-icon { display: none; }
.sidenav ul li a i { padding-right: 7px; }
.sidenav ul li a[aria-expanded="true"] .gly-down-icon { display: block; } 
.sidenav ul li a[aria-expanded="true"] .gly-right-icon { display: none; }
.sidenav .sub-menu li a { font-size: 14px !important; } 
.sidenav .sub-menu li:last-child { border-bottom: 0; } 


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 10px 20px;
}


.top-btn {
    font-size: 25px;
    cursor: pointer;
    color: #f79d56;
	vertical-align: middle;

}

/***************************Common Class*********************************/
#Content_section {
    padding-left: 260px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	min-width: 300px;
}
.content_full {
    padding-left: 0!important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.nav-pill > li > a { color: #ff931e !important; }
.nav-pill > li.active > a, .nav-pill > li.active > a:hover, .nav-pill > li.active > a:focus { 
    color: #fff !important;
    background-color: #ff931e;
    border: 1px solid #e28a09;
    cursor: pointer;
    border-bottom: 0px;
}
.word-align { word-wrap: break-word !important; }

/************************Table Section****************************************/
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th{
    vertical-align: middle; 
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle; 
}
.input-group-addon { padding: 2px 10px !important; }
.input-group-sm .input-sm { height: 40px !important; }
.btn-in.btn.active, .btn-in.btn:active { box-shadow: none; -webkit-box-shadow: none; }
#tblColumn pre { border: 0 !important; background-color: transparent !important; }

/************************Tooltip Section****************************************/
.tooltip-bg + .tooltip > .tooltip-inner {
    background-color: #ff931e; 
    color: #fff;
    display: block;
    max-width: 100% !important; 
    border: 1px solid #ff931e; 
    padding: 5px 10px;
    font-size: 16px;
    margin-left: 20px !important;
}
.tooltip-bg + .tooltip.top > .tooltip-arrow {
    border-top: 5px solid #ff931e;
}

/************************Modal Popup Section****************************************/
.modal-header {
    display: block;
    box-shadow: 0px 7px 9px -5px #555;
    -moz-box-shadow: 0px 7px 9px -5px #555;
    -webkit-box-shadow: 0px 7px 9px -5px #555;
    -ms-box-shadow: 0px 7px 9px -5px #555;
    background: #e17036;
    border: 0;
    padding: 10px;
}
.modal-header > .close {
    position: absolute;
    top: 0;
    right: -35px;
    color: #fff;
    padding: 11px;
    opacity: 0.9;
}

.modal-title {
    color: #fff !important;
    font-family: 'Montserrat', arial, sans-serif;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}
.modal-footer { border-top: 0; }
#txtTableDescription div table { width: 0; }
.overflow-x-in { overflow-x: inherit !important; }

/****************************SharePoint*************************************/
div#sideNavBox {
    display: none !important;
}

div[id$='_QuickLaunchNavigationManager'] {
    display: none !important;
}

/*div#RibbonContainer-TabRowRight{
    display:none !important;
}*/
div.topBar2{
    display:none !important;
}

div#s4-titlerow {
    display:none !important;
}

/*.ml-content {
        margin-left: -269px;
}*/

/****************************************************************
***********************Media Query Start******************************/

@media screen and (min-width: 992px) {

}


@media screen and (min-width: 768px) {

}

@media screen and (max-width: 767px) {
#Content_section { padding-left: 0px; }
.fs-m-20 { font-size: 20px !important; }
}
    
@media screen and (min-width: 576px) {
    
   
}

@media screen and (max-width: 575px) {


}
 
@media screen and (max-width:320px) {


}


/******************************************************************************
*******************************************************************************/

