
<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    <hr>
    <div class="text-center">
      <h3>Sorry, we couldn't create an account for you!</h3>
    </div>
    <br>
    

    <div class="col-xs-12 xs-mb-10 xs-pl-0">
      <ul class="xs-pl-20">
        <li>Have you signed up with this email already?</li>
        <li>Have you signed up with this phone number already?</li>
        <li>Contact us at support@carepoynt.com for help.</li>
      </ul>
    </div>
    <div class="clearfix"></div>

<!--     <div class="xs-pt-10">
      <div class="form-group col-xs-6 xs-pl-0 xs-pr-5">
        <button class="btn btn-info btn-block" ng-click="goToTryAgain()"> Try Again </button>
      </div>
      <div class="form-group col-xs-6 xs-pl-5 xs-pr-0">
        <button class="btn btn-info btn-block" ng-click="goToMemberLogin()"> Go To Login</button>
      </div>
    </div> -->


  </div>
</div>
