
<div class="cp-bg-color-white panel-fullscreen" ng-if="showReferralScreen">
  <div class="container">
    <div class="row">
      <div class="col-xs col-sm-7 col-md-10">
        <div class="referral cp-pt-20">
          
          <div class="row">
            <div class="col-xs-12 cp-pt-20 cp-color-dark-blue">
              <div class="cp-font-size-16">Complete Offer:</div>
              <div class="cp-font-size-24">Refer Family & Friends</div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 cp-pt-20 ">
              <div class="cp-font-size-16">Send an email invite for someone you know to joyn {{offer.enterprise.ent_name}} on Carepoynt.&nbsp;&nbsp;When he or she successfully signs up, you'll both earn CarePoynts!</div>
            </div>
          </div>

          <hr>

          <div class="row center-xs" ng-show="!showMemberInvited">
            <div class="col-xs-12 cp-pt-20" ng-show="showMemberAlreadyExists">
              <div class="alert alert-info">
                <a class="close" ng-click="showMemberAlreadyExists=!showMemberAlreadyExists">&times;</a>
                <div class="text-left">That person is already a member.</div>
              </div>
            </div>
            <div class="col-xs-12 cp-pt-20" ng-show="showMemberAlreadyInvited">
              <div class="alert alert-info">
                <a class="close" ng-click="showMemberAlreadyInvited=!showMemberAlreadyInvited">&times;</a>
                <div class="text-left">That person has already been invited.</div>
              </div>
            </div>
            <div class="col-xs">
              <div class="form-group text-left cp-mt-10"  ng-if="features['dark.member.referral-by-email']">
                <label for="comment">Referral Email:</label>
                <input type="type" class="form-control cp-border-rounded" ng-model="referral.email"></input>
              </div>

              <div class="form-group text-left" ng-if="features['dark.member.referral-by-mphone']">
                <label for="comment">Referral Mobile Phone:</label>
                <input type="type" class="form-control cp-border-rounded" ng-model="referral.mphone"></input>
              </div>

              <div class="col-xs form-group center-xs">
                <div class="col-xs-6 ">
                  <button type="button" class="btn btn-earn" ng-click="submitReferral();"> Submit </button>
                </div>

                <div class="col-xs-6">
                  <button type="button" class="btn btn-default" ng-click="closeReferral()"> Cancel </button>
                </div>
              </div>
              <div class="clearfix"></div>
          
            </div>
          </div>
          <div class="row center-xs" ng-show="showMemberInvited">

            <div class="col-xs">
              <div class="form-group text-center">
                Invitation sent to 
                <div class="cp-pt-10" ng-if="features['dark.member.referral-by-email']">
                  <strong>{{referral.email}}</strong>
                </div>
                <div class="cp-pt-10" ng-if="features['dark.member.referral-by-mphone']">
                  <strong>{{referral.mphone}}</strong>
                </div>
              </div>

              <div class="col-xs form-group center-xs">

                <div class="col-xs-12">
                  <button type="button" class="btn btn-default" ng-click="closeReferral()"> Close </button>
                </div>
              </div>
              <div class="clearfix"></div>
          
            </div>
          </div>
        </div>
        <!-- /.referral -->
      </div>
    </div>
  </div>
</div>
