#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Label_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Label_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=12) ;
  filter: alpha(opacity=12) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25) ;
  filter: alpha(opacity=25) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e2b2fe6-c3e3-45b3-bd4e-0787faf0a040 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}