#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Rectangle_2 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.7071067811865474,M12=0.7071067811865477,M21=-0.7071067811865477,M22=0.7071067811865474);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.7071067811865474,M12=0.7071067811865477,M21=-0.7071067811865477,M22=0.7071067811865474);
  margin-left: -10px;
  margin-top: -7px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Ellipse_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Rectangle_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Rectangle_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Rectangle_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Rectangle_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}