<div class="container">
    <div class="row px-3">
        <div class="col-1 col-sm-1 my-auto pl-0"><a class="back-btn" ng-click="goBack()"><i class="fa fa-long-arrow-left"></i></a></div>
        <div class="col-10 col-sm-10">
            <h5 class="text-center py-3">FAQ's</h5>
        </div>
        <div class="col-1 col-sm-1 pl-0"></div>
    </div>
</div>
<div class="border-box mb-3">
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <h5 class="py-3">What is Carepoynt?</h5>
                <p class="sub-title-xs">The first-of-its-kind healthcare rewards program, platform and network designed specifically to serve the
                    Healthcare and Wellness ecosystem. &nbsp;Carepoynt's objectives are to encourage and reward healthy behaviors
                    with consumers by impr oving the connection, alignment and ongoing engagement between our members, customers,
                    and partners. &nbsp;We do that by providing and encouraging a variety of healthy, preventative and prescriptive
                    wellness activities, behaviors,&nbsp;products and services along with the creation, adaptation coordination
                    and tracking of goals, self directed or coordinated careplans and activities,&nbsp;and ways to encourage
                    progress,&nbsp;achieve results, and sustain or improve overall health outcomes in the best interests
                    of consumers as our members,&nbsp;customers, and partners. &nbsp;Carepoynt connects, aligns, rewards
                    and engages consumers/members with the variety of health and wellness Providers, Partners Payers and
                    Employers in the Carepoynt Community (network) to encourage engagement, improve visibility and alignment
                    and achieve results and better outcomes.</p>
                <h5 class="py-3">Why is the Carepoynt platform called “RewardsWare for Healthcare”?</h5>
                <p class="sub-title-xs">Because it provides the program,&nbsp;platform,&nbsp;network, Poynts and many other features and services
                    to customize,&nbsp;implement and run our healthcare and wellness focused rewards and engagement programs,
                    as well as many other 'CRM' type features for clinical and retail healthcare and wellness related business,
                    providers, payers or employers .</p>
                <h5 class="py-3">What is the Carepoynt Network and Carepoynt Community?</h5>
                <p class="sub-title-xs">The Carepoynt network refers to the variety of Healthcare, Health and Wellness or other related businesses
                    and employers (customers,&nbsp;partners and affiliates in the network)&nbsp;that are part of the Carepoynt
                    program and use the platform to allow Carepoynt members to connect, engage, and earn, redeem, donate
                    or transfer CarePoynts within or out of the network. &nbsp;Typically these customers and partners also
                    leverage some or all of the Carepoynt program,&nbsp;platform and/or services offered by Carepoynt to
                    create, adapt or modify a variety of 'CRM' type campaigns, promotions, offers, redemptions, and other
                    marketing, communications or other services for their employees, customers, patients and other consumers
                    who use or interact with the program and platform, or earn, redeem, donate or transfer Carepoynts within
                    the network. &nbsp;</p>
                <h5 class="py-3">What are Carepoynts?</h5>
                <p class="sub-title-xs">Your reward for living a healthy life and following your providers, payers or other partners prescriptive,
                    discretionary or self directed care plan.&nbsp; They are the most typical form of “Rewards" which act
                    as a form of currency that to be earned and redeemed and shared, donated and transferred or converted
                    for other products, services, status or other options within the Carepoynt network.&nbsp;Poynts are NOT
                    currency, but act as a form of virtual and proprietary rewards within and across the Carepoynt Network
                    as with many other 'loyalty'&nbsp;or rewards programs based on miles, points or other terms in the travel,
                    retail and financial services industries. The Carepoynt program, platform and network is the source and
                    system that handles the earning, redemption transfer and administration of the Poynts for members and
                    the partners and customers using the program. The Carepoynt network encourages consumers/members to connect,
                    align and engage and offer or receive rewards and/or other services or communications to encourage the
                    achievement of their goals, actives and/or CarePlans,&nbsp;and to enable and encourage members and/or
                    the partners and customers in the network to proactively participate in the program to achieve the desired
                    behaviors for better health and well being.&nbsp;</p>
                <h5 class="py-3">What is a Carepoynt Clique?</h5>
                <p class="sub-title-xs">Your family and friends that can be linked to your Carepoynt member account in order to 'pool' or 'share'&nbsp;share
                    (transfer)&nbsp;Carepoynts to or from you that were earned and can be redeemed within the Carepoynt network.</p>
                <h5 class="py-3">How big is the market that Carepoynt is serving?</h5>
                <p class="sub-title-xs">The traditional 'clinical' healthcare market in the US is typically defined to include over $3.5 trillion
                    per year in direct and indirect spend for products, services, insurance, pharmaceuticals, devices and
                    more. &nbsp;The broader 'retail' or 'discretionary' health and wellness market for various and other
                    categories that include health and beauty,&nbsp;wellness, fitness, food, nutraceuticals is typically
                    estimated to be another $1 to $2+ Trillion/year depending on the breadth and depth of categories that
                    are included from a nearly $10+ trillion broader market size that includes everything from food,&nbsp;retail,
                    health an beauty, fitness and many other products and services. &nbsp;</p>
                <h5 class="py-3">What kinds of businesses are or could benefit from Carepoynt?</h5>
                <p class="sub-title-xs">There are literally hundreds of different Healthcare, Wellness and other Providers, Payers, Employers and
                    Partners that can leverage Carepoynt for their own employees and/or the customers, clients, patients
                    and partners they work with. &nbsp;Here are just a few </p>
                <div class="sub-title-xs">
                    <ul>
                        <li>Insurance Payers/ Brokers / Administrators</li>
                        <li>Employer sponsored Workplace Wellness programs (of almost any size or industry)</li>
                        <li>Hospitals, Clinics, Group practices and individual providers</li>
                        <li>Dentists and Orthodontics</li>
                        <li>Vision / Optometry</li>
                        <li>Pharmacies, PBMs &nbsp;</li>
                        <li>Mental Therapy</li>
                        <li>Physical Therapy</li>
                        <li>Telehealth Providers (Telemedicine, Telepharmacies, Counseling)&nbsp;</li>
                        <li>Labs, Diagnostics, Imaging, Testing and More</li>
                        <li>Orthopedics</li>
                        <li>Specialists</li>
                        <li>Women's Health</li>
                        <li>Gyms</li>
                        <li>Fitness Studios</li>
                        <li>Nutrition</li>
                        <li>Nutraceuticals</li>
                        <li>Spas</li>
                        <li>Yoga</li>
                        <li>Health focused Cafes /&nbsp;Restaurants / Juicer bars / etc</li>
                        <li>Local, National and Online healthy food and beverage</li>
                        <li>Technology / wearables</li>
                        <li>Many many others</li>
                    </ul>
                </div>

                <h5 class="py-3">Who are some notable Healthcare and Wellness partners currently in the the Carepoynt network?&nbsp;</h5>
                <div class="sub-title-xs">
                    <p>Beachbody</p>
                    <p>Blue Apron</p>
                    <p>BPI Sports</p>
                    <p>CVS</p>
                    <p><a href="http://dentalplans.com/" target="_blank">DentalPlans.com</a></p>
                    <p>Fitbit</p>
                    <p>Freshly</p>
                    <p>HelloFresh</p>
                    <p>LifeExtension</p>
                    <p>Medifast</p>
                    <p>Oakley</p>
                    <p>Plated</p>
                    <p>Reebok</p>
                    <p>Sally Beauty</p>
                    <p>Target Optical</p>
                    <p>Vision Service Plan (VSP)</p>
                    <p>Hylunia MD Spa</p>
                    <p>Olivieri Chiropractic</p>
                    <p>Porrovita</p>
                    <p>Well Street Counseling</p>

                </div>

            </div>
        </div>
    </div>
</div>