@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
      src: url('#{$file-path}.woff2') format('woff2'),
           url('#{$file-path}.woff') format('woff');
    font-weight: $font-weight;
    font-style: $font-style;
  }
  // Chrome for Windows rendering fix: http://www.adtrak.co.uk/blog/font-face-chrome-rendering/
  // @media screen and (-webkit-min-device-pixel-ratio: 0) {
  //   @font-face {
  //     font-family: $font-family;
  //       src: url('#{$file-path}.svg##{$font-family}') format('svg');
  //   }
  // }
}

@include font-face(Montserrat-Light, '../fonts/Montserrat-Light', 300, normal);
@include font-face(Montserrat-Regular, '../fonts/Montserrat-Regular', 400, normal);
@include font-face(Montserrat-SemiBold, '../fonts/Montserrat-SemiBold', 600, normal);
@include font-face(Montserrat-Bold, '../fonts/Montserrat-Bold', 700, normal);

@mixin Montserrat-Light {
  font-family: 'Montserrat-Light', arial, sans-serif;
  font-weight: 300; font-style: normal; }

@mixin Montserrat-Regular {
  font-family: 'Montserrat-Regular', arial, sans-serif;
  font-weight: 400; font-style: normal; }

@mixin Montserrat-SemiBold {
  font-family: 'Montserrat-SemiBold', arial, sans-serif;
  font-weight: 600; font-style: normal; }

@mixin Montserrat-Bold {
  font-family: 'Montserrat-Bold', arial, sans-serif;
  font-weight: 700; font-style: normal; }
