.offer-details {

  .section-header {
    background: none;
    border: none;
    margin-top: ($padding-large-vertical * 2.5);
  }

  .heading {
    margin-bottom: ($padding-large-vertical * 5);
  }

  h1 {
    @include Montserrat-Light;
    font-size: ceil(($font-size-base * 1.33));
    margin: ceil(($padding-small-vertical * 2)) auto;
  }

  .thumbnail {
    border-radius: $border-radius-large;
    padding: ($padding-large-vertical * 1.5);
  }

  .name {
    @include Montserrat-Bold;
    font-size: ceil(($font-size-base * 1.33));
    margin: ceil(($padding-large-vertical * 2)) auto 0;
  }

  .city {
    @include Montserrat-Regular;
    font-size: ceil(($font-size-base * .75));
    color: $gray;
  }

  .intro {
    @include Montserrat-Regular;
    font-size: ceil(($font-size-base * .9));
    margin: $padding-large-vertical auto 0;
  }

  .amt {
    @include Montserrat-Bold;
    font-size: ceil(($font-size-base * 3));
    margin: ceil(($padding-large-vertical * 1.5)) auto 0;

    small {
      font-size: ceil(($font-size-base * 1.33));
    }
  }

  .exp {
    @include Montserrat-Regular;
    font-size: ceil(($font-size-base * .75));
    margin: ceil(($padding-large-vertical * 1.5)) auto 0;
    color: $redeem;

    .icon {
      font-size: ceil(($font-size-base * 1.33));
    }
  }

  h2 {
    @include Montserrat-Light;
    font-size: ceil(($font-size-base * 1.33));
    margin: 0 auto;
  }

  .o-details {
    font-size: $font-size-base;
    margin-top: ceil(($padding-large-vertical * 4));
  }


}
