.reset-password {
	background: url('../img/body-bg.jpg') no-repeat center center fixed;
	background-size: cover;

  h1 {
    text-transform: uppercase;
    font-size: ceil(($font-size-base * 1.65));
    margin-top: ($form-group-margin-top * 6);
  }

  .submit-group {
    margin-top: ($form-group-margin-top * 2.5)
  }
}
